UF1/xsd/factura.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="facturaxsd">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="factura">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="numfactura" type="xs:string" />
                            <xs:element name="bloque1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="datos_empresa">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="nombre_empresa" type="xs:string" />
                                                    <xs:element name="calle" type="xs:string"/>
                                                    <xs:element name="ciudad" type="xs:string"/>
                                                    <xs:element name="cif" type="xs:string" />
                                                    <xs:element name="telefono" type="xs:string"/>
                                                    <xs:element name="fax" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="info_factura">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="fecha" type="xs:string" />
                                                    <xs:element name="num_pedido" type="xs:string"/>
                                                    <xs:element name="forma_de_pago" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="titulo_datos_cliente" type="xs:string" />
                            <xs:element name="datos_cliente">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="num_cliente" type="xs:string" />
                                        <xs:element name="nombre" type="xs:string" />
                                        <xs:element name="direccion_de_envio" type="xs:string" />
                                        <xs:element name="poblacion" type="xs:string" />
                                        <xs:element name="cod_postal" type="xs:string" />
                                        <xs:element name="provincia" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="titulo_datos_factura" type="xs:string" />
                            <xs:element name="datos_factura">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="bloque2">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="titulo_ref" type="xs:string" />
                                                    <xs:element name="titulo_desc" type="xs:string" />
                                                    <xs:element name="titulo_cantidad" type="xs:string" />
                                                    <xs:element name="titulo_precio" type="xs:string" />
                                                    <xs:element name="titulo_IVA" type="xs:string" />
                                                    <xs:element name="titulo_importe" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="bloque3">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ref1" type="xs:string" />
                                                    <xs:element name="desc1" type="xs:string" />
                                                    <xs:element name="cant1" type="xs:string" />
                                                    <xs:element name="precio1" type="xs:string" />
                                                    <xs:element name="iva1" type="xs:string" />
                                                    <xs:element name="importe1" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="bloque4">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ref2" type="xs:string" />
                                                    <xs:element name="desc2" type="xs:string" />
                                                    <xs:element name="cant2" type="xs:string" />
                                                    <xs:element name="precio2" type="xs:string" />
                                                    <xs:element name="iva2" type="xs:string" />
                                                    <xs:element name="importe2" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="bloque5">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ref3" type="xs:string" />
                                                    <xs:element name="desc3" type="xs:string" />
                                                    <xs:element name="cant3" type="xs:string" />
                                                    <xs:element name="precio3" type="xs:string" />
                                                    <xs:element name="iva3" type="xs:string" />
                                                    <xs:element name="importe3" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="bloque6">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ref4" type="xs:string" />
                                                    <xs:element name="desc4" type="xs:string" />
                                                    <xs:element name="cant4" type="xs:string" />
                                                    <xs:element name="precio4" type="xs:string" />
                                                    <xs:element name="iva4" type="xs:string" />
                                                    <xs:element name="importe4" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="bloque7">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titulo_base_imponible" type="xs:string" />
                                        <xs:element name="titulo_iva_total" type="xs:string" />
                                        <xs:element name="titulo_cuota_iva" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="bloque8">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="base_imponible" type="xs:string" />
                                        <xs:element name="iva_total" type="xs:string" />
                                        <xs:element name="cuota_iva" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="TOTAL" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>